.service{
    background-color: #111827;
}
.inner-service{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
#concepts {
    max-width: 50rem;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    gap: 1.5rem;
  }

  header h1 {
    margin: 0;
    font-size: 1.5rem;
    color: #F3F4F6;
  }

  .inner-service header h1 span{
    color:#EAB308 ;
  }
header p {
    margin: 0;
    color: #6B7280;
  }

  .concept:hover {
    transform: translateY(-2px);
    transition: transform 0.2s;
    box-shadow: 0 2px 30px rgba(234, 78, 240, 0.4);
  }
  @media only screen and (max-width: 500px) {
  #concepts {
    flex-wrap: wrap;
  }
  }